<div class="container">
    <div class="row justify-content-center">
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 my-2">
            <a href="/user/dashboard" class="btn btn-primary btn-block">Dashboard</a>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 my-2">
            <a href="/user/update-profile" class="btn btn-primary btn-block">Update Details</a>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 my-2">
            <a href="/user/change-password" class="btn btn-primary btn-block">Change Password</a>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 my-2">
            <a href="/user/logout" class="btn btn-danger btn-block">Logout</a>
        </div>
    </div>
</div>
